html {
  background-color: black;
  color: white;
}
#root{
  background-color: black;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

.App h1 {
  margin: 20px 0 20px;
}

.c-camera-feed {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button {
  margin: 10px 0 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}